<p id="notice"><%= notice %></p>

<h1>Race!</h1>

<p>
  <strong>Length:</strong>
  <%= @race.length %>
</p>

<h3>Horses:</h3>

<ul>
  <% @race.horses.each do |horse| %>
    <li><%= horse.name %>:</li>
  <% end %>
</ul>
